html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 1vh 200px 1vh 200px !important;
}

.title {
  font-family: "Verdana";
  padding: 10px;
}

.container-fluid {
  padding-left: 40px !important;
  padding-right: 40px !important;
  font-family: 'Candara';
}

.gameContainer {
  background-color: #66bfff;
  height: 600px;
  padding: 10px;
  border-radius: 15px;
}

.gameContainer:hover {
  cursor: pointer;
  opacity: 80%;
}

.gameImage {
  max-width: 100%;
  max-height: 140px;
  width: auto;
  height: auto;
  border-radius: 15px;
}

.gameName {
  padding: 5px;
}

.gameDescription {
  padding: 5px;
}

hr {
  border: none !important;
  height: 2px !important;
  background-color: black;
}

.personImgBox {
  background-color: #66bfff;
  height: 600px;
}

.personImg {
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
}

footer {
  margin-top: 200px;
  color: white;
  background-color: #007bff !important;
}

.footer-link {
  color: white;
}

.canvas {
  border-radius: 5%;
  border: 2px solid black;
}

.instructions {
  border: 1px solid black;
  background-color: #ff7738;
  padding: 10px;
  height: 600px;
  border-radius: 2rem;
}

#ans {
  width: 50%;
  font-size: 1rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

#ans:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}
